.content .sort-select{
    border: 1px solid gainsboro;
    padding: 15px;
}
.content .sort-select .sort{
    margin: 10px;
}
.sort-line{
    margin: 10px 0px;
}
.content .sort-select .sort .sort-left{
    float: left;
    padding-left: 15px;
    font-size: 14px;
    color: #333;
}
.content .sort-select .sort .sort-right a  {
    text-decoration: none;
    color: grey;
    display: inline-block;
    width: 90px;
}
.sort-right a:hover{
    text-decoration: underline;
    color: coral;
}
.sort-right .active{
    color: salmon;
}
.sort-line{
    width: 90%;
    margin: 0 auto;
    border: 1px solid #f0f0f0;
}
.sort-right .wither
{
    width: 110px;
}