<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoe.shareDorm.mapper.HouseImgMapper">
    <insert id="batchInsertHouseImg" parameterType="java.util.List">
        insert into tb_house_img(img_addr,create_time,house_id)
        values
        <foreach collection="list" item="houseImg" index="index" separator=",">
            (
            #{houseImg.imgAddr},
            #{houseImg.createTime},
            #{houseImg.houseId}
            )
        </foreach>
    </insert>
</mapper>
    